/* SECTION FOODE*/
*,*:after,*:before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   
}
/*----------google fonts----------*/
/*---Caveat font----*/
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
/*----Great Vibes----*/
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
/*------Acme-------*/
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

.container{
    width: 1200px;
    margin: auto;
}
/*===========header==========*/
section.foode{
    width: 100%;
    height: 650px;
    background:linear-gradient(rgba(58,64,89,.65),rgba(58,64,89,.65)), url(https://i.postimg.cc/HsfMGzbg/img-bg-1.jpg);
    background-size: cover;
   
    
}
    
header{
    padding-top: 15px;
}
 /*-----navbar------*/

.logo{
    width: 50%;
    float: left;
    font-size: 2.8em;
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    color: darkorange;
    font-weight: bold;
   
}
.nav{
    width: 50%;
    float: left;
    margin-top: 19px;
}
.nav ul li{
    display: inline-block;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
.nav ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:darkorange;
    transition: width .3s;
}
.nav ul li a:hover::after{
    width: 100%;
    transition: width .3s;
}
section.foode .clear{     /*--clear all float*/
clear: both;
}

section.foode .text{
    margin-top: 15%;
    text-align: center;
}
section.foode .text h1{
    color: darkorange;
    font-size: 3rem;
    font-family: 'Great Vibes', cursive;

}
section.foode .text h3{
    font-size: 2rem;
    font-weight: bold;
    color:#fff;
    margin-top: 3%;
    font-family: 'Acme', sans-serif;
    margin-bottom: 5%;
}
section.foode .text a{
    width: 100px;
    padding: 7px 3px;
    border: 2px solid #c69963;
    position: absolute;
    color:#fff;
    text-decoration: none;
    overflow: hidden;
    font-weight: bold;
    transform: translateX(-50%);
    
    
}
section.foode .text a:before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,transparent,rgba(255,255,255,.6),transparent);
    transition: all 650ms;
    
}
section.foode .text a:hover::before{
    left: 100%;
    
}


/*==============about===============*/
.about {
   display: flex;
   width: 100%;
   height: 500px;
   padding: 50px 0 50px 0;
   background-color: #ececec;
   align-items: center;
   justify-content: center;
    
}
.about-details,.about-img{
width: 40%;
float: left;

}
.about-img img{
    width: 100%;
    margin-left: 15%;
}
.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 4rem;
    
}
.about-heading h1{
    font-size: 5rem;
    opacity: .4;
    color: darkorange;
}
.about-heading h4{
    font-size: 1.5rem;
    color:rgba(0,0,0,.5);
   
    
}
.about-details{
    margin-left: 1rem;
}
.about-details p{
    font-size: 18px;
}

/*=============end About=========*/

/*=============star Menu=========*/
section.menu{
    width: 100%;
    height:700px;
    background:linear-gradient(rgba(58,64,89,.60),rgba(58,64,89,.60)), url(https://i.postimg.cc/3wMSS2tS/menu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.menu-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 4rem;
}
.menu-heading h1{
    font-size: 5rem;
    opacity: .8;
    color: darkorange;
    padding-top: 9%;
}
.menu-heading h4{
    font-size: 1.5rem;
    color: #fff;
    
}
.menu-head{
   padding-left: 41%;
   margin-bottom: 3%;
   
}
.menu-head ul li{
    display: inline-block;
    text-align: center;
    padding-left: 10px;
}
.menu-head ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;  
    
}


.menu-main{
    width: 100%;
    display: flex;
    
}
.menu-left {
    margin-left: 8%;
    width: 40%;
    
}
.menu-left ul{
    
}

.menu-left ul li{
   
    list-style: none;
    display: flex;
    margin-bottom:5%;
    font-size: 20px;
    color: #fff;
    border: 1px  ;
    background: rgba(0, 0, 0, 0.4);
    
}


.menu-left figure img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
     
}
.menu-left .menu-text{
    margin-left: 2%;
}
.menu-left .menu-text span{
    position: absolute;
    margin-left: 21%;
    margin-top: 3%;
}
/*=============End Menu=========*/

/*=============star Gallery=====*/
section.gallery{
    width: 100%;
    height: 700px;
    background-color: #ececec;
}
.gallery-head{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 4rem;
   
}
.gallery-head h1{
    padding-top: 9%;
    font-size: 5rem;
    opacity: .6;
    color: darkorange;
}
.gallery-head h4{
    font-size: 1.5rem;
    color:rgba(0,0,0,.5);
}
.gallery-img{
    width: 80%;
    height: 600px;
    margin: auto;
    
}
.gallery-img .box{
    position: relative;
    width: calc(288px - 11px);
    height: calc(257px - 57px);
    background: black;
    display: inline-flex;
    margin: 15px;
    box-sizing: border-box;
   overflow: hidden; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}
.gallery-img .box:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scalex(0);
    opacity: 0;
    z-index: 1;
}
    .gallery-img .box:hover:before{
        transform: scalex(1);
        opacity: 1;
    }

    .gallery-img .box:after{
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-left:1px solid #fff;
        border-right:1px solid #fff;
        box-sizing: border-box;
        transition: 0.5s;
        transform: scaley(0);
        opacity: 0;
        z-index: 1;
    }
        .gallery-img .box:hover:after{
            transform: scaley(1);
            opacity: 1;
        }
        .gallery-img .box .imgBox{
            position: relative;
        }
        .gallery-img .imgbox {
            
        }
        .gallery-img .box .imgBox img{
            width: 100%;
            height: 100%;
            transition: 0.5s
        }
        .gallery-img .box:hover .imgBox img{
            opacity: .2;
            transform: scale(1.2);
        }
        .gallery-img .box .content{
            position: absolute;
            width: 100%;
            top: 30%;
            transform: translateY(20px);
            z-index: 2;
            padding: 10px;
            box-sizing: border-box;
            text-align: center;
        }
        .gallery-img .box .content h2{
            margin: 0;
            padding: 0;
            color: #fff;
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;
        }
        .gallery-img .box:hover .content h2{
            opacity: 1;
            visibility: visible;
           
        }
/*=============End Gallery=====*/

/*=============star event======*/
section.event{
    width: 100%;
    height: 700px;
    background:linear-gradient(rgba(58,64,89,.80),rgba(58,64,89,.80)), url(https://i.postimg.cc/135Vxzzp/event2.jpg);
    background-size: cover;
}
.event-head{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 4rem;   
}
.event-head h1{
    padding-top: 9%;
    font-size: 5rem;
    opacity: .6;
    color: darkorange;
}
.event-head h4{
    font-size: 1.5rem;
    color:#fff;
}
.event-all{
    width: 80%;
    margin: 10% auto;
    display: flex;
    text-align: center;
    justify-content: center;
    position: sticky;
}
.event-all .event-box{
    position: relative;
    height: 400px;
    background:#060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin: 2%;
   
}
.event-all .event-box.event-content{
    position: relative;
    padding: 15px;
}
.event-box .event-content h2{
    position: absolute;
    top: 150px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    color: darkorange;
    transition: 0.5s;
    opacity: .3;
    
}
.event-box:hover .event-content h2{
    top: 10px;
}
.event-box .event-content h3{
    margin: 0 0 10px;
    padding: 0;
    font-size: 2rem;
    font-weight: 400px;
    color: #fff;
}
.event-box .event-content p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}
.event-box .event-content a{
    position: relative;
    margin: 20px 0 0; 
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform:translateY(-66px);
    opacity: 0;
     
}
.event-box:hover .event-content a{
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}
.event-box .event-content a:hover{
    color: #000;
    background: #fff;
}
.event-all .event-box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg,2deg);
    z-index: -1;
}
.event-all .event-box:nth-child(1):before{
    background: #FE4365;
}
.event-all .event-box:nth-child(2):before{
    background: #F9CDAD;
}
.event-all .event-box:nth-child(3):before{
    background: #83AF9B;
}
/*============end event=======*/

/*============star contact=====*/
.contact{
    width: 100%;
    height: 700px;
    background: #ececec;
}
.contact .contact-head{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 4rem;  
}
.contact .contact-head h1{
    padding-top: 9%;
    font-size: 4rem;
    opacity: .6;
    color: darkorange;
}
.contact .contact-head h4{
    font-size: 1.5rem;  
}
.contact .conact-body{
    width: 80%;
    height: 500px;
    margin: auto;
  
}
.contact .conact-body .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: rgba(54, 56, 72,.2);
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px rgba(54, 56, 72,.5);
  }
  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  .contact-form-btn{
    float: right;
    border: 0;
    background: darkorange;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover{
    background: rgba(54, 56, 72,.2);
  }
/*============end contact=====*/

/*============star footer=====*/
footer{
    width: 100%;
    height: 300px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding-top:4rem;
}
footer .foter-box{
 width: 30%;
 float: left;
 margin-left: 2%;
 padd
}

footer .foter-box i{
    text-align: center;
    margin:4px;
    margin-top:12%;
    
}
footer .foter-box i:nth-child(1){
    color:#3b5998;
}
footer .foter-box i:nth-child(2){
    color: #ff0000; 
}
footer .foter-box i:nth-child(3){
    color: #C13584;
}
footer .foter-box:nth-child(2){
    font-size: 14px;
    line-height: 2.5;
}
footer .foter-box table,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
}
footer .foter-box tr,td{
    padding: 5px;
    text-align: left; 
}
.footer{
    width: 100%;
    height: 40px;
    background: #000;
    clear: both;
    margin-top: 15%;
    text-align: center;
    line-height: 2;
}

/*============End footer======*/






